$background-white: #1f2730;
$background-grey: #14191f;
$gradient-one: #da3394;
$gradient-two: #e03c67;
$gradient-three: #f3753b;
$gradient-four: #f99b4a;
$font-color-primary: #e2e2e2;
$font-color-secondary: #bdbdbd;
$font-color-footer: #616161;
$border-color-grey: #050f16;
$border-color-grey-secondary: #101a24;
$link-color: #0095f6;
$link-color-secondary: #b3dffc;
$font: "Montserrat", sans-serif; // instead of Proxima Nova
